:root {
  /**
  * ===========================================================================
  * Application color pallette
  * ===========================================================================
  */
  /** Global App Colors **/
  --app-primary: #2e8b57;

  /** Text **/
  --text-dark: #575757;
  --text-light: #FFFFFF;

  /**
  * ===========================================================================
  * Standard Spacing Increments
  * ===========================================================================
  */
  --spacing-xxs: 1px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 20px;
  --spacing-lg: 40px;
}
